/* This stylesheet is used to style the admin option form of the widget. */
.ejo-features-list-admin {
    /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
}
.ejo-features-list-admin li{
    padding: 9px 10px;
    margin-bottom: 0px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /*border-top: none;*/
    margin-bottom: -1px;
    padding-left: 10px;
    /*box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;*/
    clear: both;
    cursor: move;
    /*line-height: 2.1em;*/
    overflow: hidden;
}
.ejo-features-list-admin li.feature-active {
    background-color: #F7FCFE;
    border-left: 4px solid #2EA2CC;
    padding-left: 7px;
}
.ejo-features-list-admin li input[type="checkbox"], 
.ejo-features-list-admin li input[type="radio"] {
    margin: 0; 
}

/* Admin Feature Structure */
.ejo-features-list-admin .ejo-feature{
    /*background-color: #F7F7F7;*/
}
.ejo-features-list-admin .ejo-feature-header {
    width: 10%;
    float: left;
    /*margin-top: 1px;*/
    /*margin-bottom: 4px;*/
    line-height: 1;
}

.ejo-features-list-admin .ejo-feature-content {
    width: 90%;
    float: left;
    /*margin-top: 1px;*/
    /*margin-bottom: 4px;*/
    line-height: 1;
}

/* Admin Feature Styles */
.ejo-features-list-admin .ejo-feature-name {
    font-style: italic;
    font-size: 11px;
    /*line-height: 1.8;*/
    display: inline;
    display: none;
}

/* Image Widget */

.uploader input.button {
	width: 100%;
	height: 34px;
	line-height: 33px;
}

.ejo-image-preview {
	overflow: hidden;
	max-height: 300px;
}
.ejo-image-preview img {
	margin: 10px 0;
	max-width: 100%;
	height: auto;
}